<div class="row">
  <div class="small-4 small-centered columns top-nav">
    <div class="icon-bar two-up" id="convo-quick-bar">
    <% if controller_name == 'static_pages' || params[:action] == "show" %>
      <a href="<%= questions_path %>" class="item item-1">
        <i class="fi-previous"></i>
        <label>Back</label>
      </a>
    <% else %>
      <a href="<%= user_questions_path %>" class="item item-1">
        <i class="fi-filter"></i>
        <label>Your Questions</label>
      </a>
    <% end %>
    <% if params[:tag].blank? %>
      <a class="item item-2" href="#" data-reveal-id="newhelp">
        <i class="fi-plus"></i>
        <label>New Question</label>
      </a>  
    <% else %>
      <a class="item item-2" href="<%= questions_path %>">
        <i class="fi-previous"></i>
        <label>All Questions</label>
      </a>
    <% end %>
    </div>
  </div>
</div>