<div id="firstStop"></div>

<div class="calendar-wrapper">
  <div id="calendar"></div>
</div>

<ol class="joyride-list" data-joyride>
  <%= tour("Take the tour!" + "<hr/> Click a day to add events <br /> Click events to go to view page") %>
</ol>