<div id="editFriendModal" class="reveal-modal" data-reveal>
<center><strong>
  <h2>Are you sure?</h2>
</center></strong>
<hr>
<div class="form-actions">
<center>

  <%= form_for @user_friendship, url: block_user_friendship_path(@user_friendship), method: :put do |form| %>
    <%= submit_tag "Block Friendship", class: 'button radius alert' %>
  <% end %>

  <%= form_for @user_friendship, url: user_friendship_path(@user_friendship), method: :delete do |form| %>
      <%= submit_tag "Delete Friendship", class: 'button radius alert' %>
  <% end %>
</div>
  <a class="close-reveal-modal">&#215;</a>
</div>
</center>