<div class="row">
  <div class="small-11 small-centered columns">
    <div class="page-header">
      <h1>My Friends</h1>
    </div>
    <% @current_user.user_friendships.each do |f| %>
    <%= User.find(f.friend_id).full_name %>
    <% end %>
  </div>
</div>