<div class="row">
  <div class="large-12 columns text-center">
    <%= render :partial => "partials/status" %>
    <%= render "all_statuses" %>
  </div>
</div>

<div id="reload-statuses-partial">
</div>
