<div class="row">
  <div class="small-4 small-centered columns">
    <div class="icon-bar two-up" id="convo-quick-bar">
      <a href="<%= jobs_path %>" class="item item-1">
        <i class="fi-magnifying-glass"></i>
        <label>All Jobs</label>
      </a>
      <a class="item item-2" href="/jobs/new">
        <i class="fi-megaphone"></i>
        <label>Create Job</label>
      </a>
    </div>
  </div>
</div>