<div id="footer">
  <footer>
    <% if Rails.env.development? %>
      <div class="panel">
      <!-- Do not delete -->
      <!-- Only shows when in development -->
        <%= debug(params) %>
        <%#= logger.inspect %>
        <%#= controller.inspect %>
        <br>
        <code>
          <samp>I only show in development</samp><br>
          <samp>Find me in partials/footer</samp>
        </code>
      </div>
    <% end %>
      <!-- End debug -->
  </footer>
</div>