<div id="footer">
  <footer>
    <div class="panel">
      <%= debug(params) if Rails.env.development? %>
      <br />
      <code>
        <samp>Find me in partials/footer</samp>
      </code>
    </div>
  </footer>
</div>