<div class="row">
  <div class="small-4 small-centered columns">
    <div class="icon-bar two-up" id="convo-quick-bar">
      <a href="#" class="item item-1" data-reveal-id="lessonModal">
        <i class="fi-calendar"></i>
        <label>New Lesson</label>
      </a>
      <% if controller_name == "lessons" %>
        <a class="item item-2" href="<%= dashboard_path %>">
        <i class="fi-torso"></i>
        <label>Your Lessons</label>
      </a>
      <% else %>
        <a class="item item-2" href="<%= lessons_path %>">
        <i class="fi-torso"></i>
        <label>All Lessons</label>
        </a>
      <% end %>
    </div>
  </div>
</div>