<%= simple_form_for(Status.new, :html => {:class => "form-horizontal", multipart: true}) do |f| %>

  <%= f.input :subject, placeholder: "Pending delete of column subject in status", disabled: true  %>
  <%= f.input :content, placeholder: "Hey, guys!! I just wrote this awesome code. Check it out. github.com/example"  %>

  <div class="medium-6 columns">
    <input class="file optional" id="status_document_attributes_attachment" name="status[document_attributes][attachment]" type="file" value="Upload Photo"/> </input>
    <span class="actions">
      <%= f.button :submit, class: 'button round success' %>
    </span>
  <% end %>
  <!-- </div> -->
</div>