<%= "Name:\s" %> <%= link_to @user.full_name.titleize, user_path(@user.id) %> <br />
<% if signed_in? %>
<span id="friend-status">
  <% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
    <%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: 'btn' %>
  <% else %>
    <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn', id: 'add-friendship', data: { friend_id: @user.to_param } %>
  <% end %>
</span>
<% end %>
<div id="calendar"></div>