/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require fullcalendar
 */
@import 'foundation-icons';
@import "foundation/components/offcanvas";

/* Override for menu to be full height */
.off-canvas-wrap, .inner-wrap { min-height: 900px; }
.icon-bar > * {
  font-size: 1rem;
  padding: 0;
  zoom:120%;
}
.tab-bar {
  margin-bottom: 60px;
}
.clearing-close {
  right: 70px;
}
#thumbnail {
  width:  100px;
  height: 100px;
}
.hold-canvas {
  height: 100%;
}
.hold-canvas .inner-wrap{
  height: 100%;
}
.online:after {
  color: green!important;
  content: " - Online"
}
.idle:after {
  color: #E5E500!important;
  content: " - Idle"
}
.offline:after {
  color: red!important;
  content: " - Offline"
}
#flash-alert {
  margin: 14px auto;
  max-width: 500px;
  z-index: 1;
}
.alert-box .close {
  color: #fff;
  opacity: 1;
}
#alert-div {
  margin-top: -30px;
  margin-bottom: 30px;
  height: 40px;
  z-index: 1;
}
.calendar-wrapper {
  height: 70%;
  width: 90%;
  margin: 0 auto;
}
#lesson-scroller {
  height: 500px;
  overflow: scroll;
}
#mailbox {
  height: 200px;
  overflow: scroll;
}
#mailbox li, p {
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 8px;
  height: 30px;
  text-align: middle;
}
h1, h3 {
  color: #000;
}
#mailbox li:nth-child(odd) {
  background-color: rgb(59,59,59);
  list-style: none;
}
#mailbox li:nth-child(even) {
  background-color: rgb(78,78,78);
  list-style: none;
}
#convo-quick-bar .fi-mail:hover {
  color: rgba(255, 60, 44, 1);
}
ul.off-canvas-list li a:hover {
  background-color: rgba(255, 60, 44, 1);
}
#mailbox li:hover {
  background-color: rgba(255, 60, 44, 1);
}
#convo-quick-bar {
  top: -100px;
  position: inherit;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius:  16px;
  opacity: .3;
}
#convo-quick-bar:hover {
  opacity: 1;
}
.item-1 {
  border-bottom-left-radius:  15px;
}
.item-2 {
  border-bottom-right-radius: 15px;
}
.inline-list li:nth-child(odd) {
  margin-right: 10px;
}
div h2,
#editModal,
#deleteModal,
#lessonModal {
  color: rgba(255, 60, 44, 1);
  background-color: #262626;
}
#lessonModal label {
  color: white;
}
.switch {
  width: 30px;
}
div .like-dislike {
  width: 100%;
}
body { 
  height: 100%;
  color: #fff!important;
  background-color: #262626;
  // background-color: #e9eaed;
  background: url("../assets/bgnoise.png") repeat fixed #EAEAEA;
}
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
.fc-widget-content:hover {
  background-color: lightblue;
}
div .fc-event-inner {
  background-color: #32a3c7;
  padding: 3px;
}
textarea {
  overflow-y: scroll;
  height: 140px;
  word-break: break-word;
  resize: vertical;
}
.edit_user,
#new_job {
  padding: 7px;
  background-color: rgba(255, 60, 44, .9);
  margin-bottom: 19px;
}
#new_job label {
  color: #000;
  font-size: 17px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
}
.move-to-trash {
  padding: 0;
  padding-right: 5px;
  color: red;
  zoom: 138%;
  margin: 0;
  margin-top: -4px;
  float: right;
}
#mailbox > li:hover .move-to-trash {
  color: #fff;
  -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
  transform: rotate(-30deg);
}
.subject {
  color: #000;
  font-size: 15px;
  margin: 6%;
  background-color: white;
  padding: inherit;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 2px;
  position: relative;
  right: -11px;
}
.subject:hover {
  color: #000;
  background-color: lightgrey;
}
#footer {
  // This is for our debugging. Do not delete
  color: #000!important;
  background-color: #fff!important;
}
#forum-index {
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 1%, rgba(43,43,43,1) 5%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 9%, rgba(17,17,17,1) 22%, rgba(44,44,44,1) 76%, rgba(35,35,35,1) 86%, rgba(28,28,28,1) 93%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(1%, rgba(89,89,89,1)), color-stop(5%, rgba(43,43,43,1)), color-stop(6%, rgba(102,102,102,1)), color-stop(9%, rgba(71,71,71,1)), color-stop(22%, rgba(17,17,17,1)), color-stop(76%, rgba(44,44,44,1)), color-stop(86%, rgba(35,35,35,1)), color-stop(93%, rgba(28,28,28,1)));
  background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 1%, rgba(43,43,43,1) 5%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 9%, rgba(17,17,17,1) 22%, rgba(44,44,44,1) 76%, rgba(35,35,35,1) 86%, rgba(28,28,28,1) 93%);
  background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 1%, rgba(43,43,43,1) 5%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 9%, rgba(17,17,17,1) 22%, rgba(44,44,44,1) 76%, rgba(35,35,35,1) 86%, rgba(28,28,28,1) 93%);
  background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 1%, rgba(43,43,43,1) 5%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 9%, rgba(17,17,17,1) 22%, rgba(44,44,44,1) 76%, rgba(35,35,35,1) 86%, rgba(28,28,28,1) 93%);
  background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 1%, rgba(43,43,43,1) 5%, rgba(102,102,102,1) 6%, rgba(71,71,71,1) 9%, rgba(17,17,17,1) 22%, rgba(44,44,44,1) 76%, rgba(35,35,35,1) 86%, rgba(28,28,28,1) 93%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c', GradientType=1 );
  -webkit-box-shadow: -1px 2px 35px 0px rgba(255,255,255,0.62);
  -moz-box-shadow: -1px 2px 35px 0px rgba(255,255,255,0.62);
  box-shadow: -1px 2px 35px 0px rgba(255,255,255,0.62);
  border: none;
  padding-bottom: 0;
  border-top-right-radius: 16px;
}
#forum-index .inline-list {
  background-color: yellow;
  margin-left: -1.290rem;
  margin-right: -1.290rem;
}
#forum-index > .inline-list li {
  color: black;
}
#forum-index a,
#forum-index li {
  color: white;
}
#forum-index .icon-bar > * .fi-heart:hover {
  color: red;
}
#red {
  color: red;
}
#forum-index .icon-bar {
  border-top-left-radius:  16px;
  border-top-right-radius: 16px;
}
.login-block, .hero, .hero-content {
  min-width: 818px;
}
#tag_cloud {
  width: 600px;
  height: 80px;
  word-wrap: word-break;
  display: -webkit-inline-box;
  margin: 2px 4px 24px;
  line-height: 1.6em;
  .s { font-size: 0.8em; background-color: rgba(76,76,76,1); padding: 2px 5px; border-radius: 9px; text-align: middle; }
  .m { font-size: 1.2em; background-color: rgba(76,76,76,1); padding: 2px 5px; border-radius: 9px; text-align: middle; }
  .l { font-size: 1.8em; background-color: rgba(76,76,76,1); padding: 2px 5px; border-radius: 9px; text-align: middle; }
  h2 { display: -webkit-inline-box; }
}
.sessions {
  // position: fixed;
  width: 100%;
  height: 100%;
  background-color: red;
}
.signin-page-image-text {
  text-transform: none;
  width: 250px;
  text-align: center;
}
.questions, .activity {
  background-color: #fff;
  box-shadow: 0 0 3px #ddd;
  padding-bottom: 15px;
}
.activity {
  color: #000;
}
.activity-content {
  box-shadow: 0 0 3px #ddd;
  padding: 9px;
  margin: 9px;
}
.activity-time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
}
