/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require fullcalendar
 */
@import 'foundation-icons';
@import "foundation/components/offcanvas";
@import url(http://fonts.googleapis.com/css?family=Cinzel);

html {
  -webkit-font-smoothing: antialiased;
}
.reveal-modal {
  border-radius: 12px;
}
*:focus {
  outline: none;
}
::selection { background-color: rgba(0, 0, 0, .3);}
/* Override for menu to be full height */
.off-canvas-wrap, .inner-wrap { min-height: 900px; }
.icon-bar > * {
  font-size: 1rem;
  padding: 0;
  zoom:120%;
}
.tab-bar {
  margin-bottom: 60px;
}
.fi-plus:before, .fi-x-circle:before {
  zoom: 1.5;
}
.clearing-close {
  right: 70px;
}
#thumbnail {
  width:  100px;
  height: 100px;
}
.hold-canvas {
  height: 100%;
}
.hold-canvas .inner-wrap{
  height: 100%;
}
.online:after {
  color: green!important;
  content: " - Online"
}
.idle:after {
  color: #E5E500!important;
  content: " - Idle"
}
.offline:after {
  color: red!important;
  content: " - Offline"
}
#flash-alert {
  margin: 14px auto;
  max-width: 500px;
  z-index: 1;
}
.alert-box .close {
  color: #fff;
  opacity: 1;
}
#alert-div {
  margin-top: -30px;
  margin-bottom: 10px;
  height: 40px;
  z-index: 1;
}
.calendar-wrapper {
  height: 70%;
  width: 90%;
  margin: 0 auto;
}
#lesson-scroller {
  height: 500px;
  overflow: scroll;
}
#mailbox {
  height: 200px;
  overflow: scroll;
}
#mailbox li, p {
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 8px;
  height: 30px;
  text-align: middle;
}
h1, h3 {
  color: #000;
}
#mailbox li:nth-child(odd) {
  background-color: rgb(59,59,59);
  list-style: none;
}
#mailbox li:nth-child(even) {
  background-color: rgb(78,78,78);
  list-style: none;
}
#convo-quick-bar .fi-mail:hover {
  color: rgba(255, 60, 44, 1);
}
ul.off-canvas-list li a {
  color: #fff;
}
ul.off-canvas-list li a:hover {
  background-color: rgb(107,107,107);
}
#mailbox li:hover {
  background-color: rgba(255,60,44,1);
}
#convo-quick-bar {
  top: -80px;
  position: inherit;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius:  16px;
  opacity: .4;
}
#convo-quick-bar:hover {
  opacity: 1;
}
.item-1 {
  border-bottom-left-radius:  15px;
}
.item-2 {
  border-bottom-right-radius: 15px;
}
.inline-list li:nth-child(odd) {
  margin-right: 10px;
}
// div h2,
// #editModal,
// #deleteModal,
// #lessonModal {
//   color: rgba(255, 60, 44, 1);
//   // background-color: #262626;
// }
#deleteModal {
  color: #000;
}
.switch {
  width: 30px;
}
div .like-dislike {
  width: 100%;
}
.like-dislike:hover:first-child > i {
  color: red;
}
.like-dislike:hover:first-child {
  border-top-left-radius: 14px;
}
.like-dislike:hover:last-child {
  border-top-right-radius: 14px;
}
body { 
  height: 100%;
  color: #000;
  background-color: #262626;
  /*background-color: #e9eaed;*/
  background: url("../assets/bgnoise.png") repeat fixed #EAEAEA;
}
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
.fc-widget-content:hover {
  background-color: lightblue;
}
div .fc-event-inner {
  background-color: #32a3c7;
  padding: 3px;
}

textarea {
  min-height: 43px;
  resize: none;
  // min-height: 120px;
  border-radius: 3px;
}
input, input[type="text"] {
  border-radius: 3px;
}
textarea:focus {
  resize: none;
}
.wall-post-form, .status-div-comment-form {
  textarea {
    transition: min-height 0.5s ease;
    min-height: 43px;
    outline: none;
    border: none;
    resize: none;
    box-shadow: none;
    border-radius: 3px;
  }
  textarea:focus {
    font-size: 16px;
    background-color: #fff;
    min-height: 120px;
    resize: vertical;
    margin-bottom: 10px;
  }
  ::-webkit-input-placeholder {
    padding-top: 3px;
    font-size: 16px;
  }
}
.edit_user,
#new_job {
  padding: 7px;
  // background-color: rgba(255, 60, 44, .9);
  margin-bottom: 19px;
}
#new_job label {
  color: #000;
  font-size: 17px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .6);
}
.move-to-trash {
  padding: 0;
  padding-right: 5px;
  color: red;
  zoom: 138%;
  margin: 0;
  margin-top: -4px;
  float: right;
}
#mailbox > li:hover .move-to-trash {
  color: #fff;
  -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
  transform: rotate(-30deg);
}
.subject {
  color: #000;
  font-size: 15px;
  margin: 6%;
  background-color: white;
  padding: inherit;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 2px;
  position: relative;
  right: -11px;
}
.subject:hover {
  color: #000;
  background-color: lightgrey;
}
#footer {
  // This is for our debugging. Do not delete
  color: #000!important;
  background-color: #fff!important;
}
#forum-index {
  background: #fff;
  box-shadow: -1px 2px 35px rgb(27,26,26);
  border: none;
  padding-bottom: 0;
  border-radius: 16px;
}
#forum-index .inline-list {
  background-color: yellow;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
#forum-index > .inline-list li {
  color: black;
}
#forum-index a,
#forum-index li {
  color: #000;
}
#forum-index .icon-bar > * .fi-heart:hover {
  color: red;
}
#red {
  color: red;
}
#forum-index .icon-bar {
  border-top-left-radius:  16px;
  border-top-right-radius: 16px;
}
.hero label {
  color: #fff;
}
.hero label small {
  color: #f00
}
.login-block {
  margin-bottom: 9px;
}
.page-title {
  height: 140px;
}
#tag_cloud {
  word-wrap: break-word;
  display: -webkit-inline-box;
  margin: 2px 1px 24px;
  padding: 1px;
  line-height: 1.9em;
  // font-size: 0.8em;
  // font-size: 1.2em;
  // font-size: 1.8em;
  .s { background-color: #C80D0D; padding: 2px 5px 4.3px; border-radius: 3px; text-align: middle; }
  .m { background-color: #C80D0D; padding: 2px 5px 4.3px; border-radius: 3px; text-align: middle; }
  .l { background-color: #C80D0D; padding: 2px 5px 4.3px; border-radius: 3px; text-align: middle; }
  h2 { display: -webkit-inline-box; }
  a  { color: #fff; }
  a:hover { color: #000; }
  .s:hover,.m:hover,.l:hover {
    background-color: #B01C1C;
  }
}
.questions-tag-feed {
  margin: 60px 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px #ddd;
  text-align: center;
  h2 {
    color: #000;
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px 1px grey;
  }
  hr {
    margin-top: -4px;
  }
}
.questions-activity-feed {
  // 
}
// hide top navbar for now
.top-nav {
  margin-bottom: -45px;
  display: none;
}
.sessions {
  width: 100%;
  height: 100%;
  background-color: red;
}
.signin-page-image-text {
  text-transform: none;
  width: 80%;
  text-align: center;
  word-wrap: break-word;
  padding-left: 66px;
}
@media only screen and (max-width: 1070px) {
  .signin-page-image-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 913px) {
  .login-text {
    font-family: inherit;
    font-size: 80%;
  }
}
@media only screen and (max-width: 840px) {
  .login-text {
    font-family: inherit;
    font-size: 78%;
  }
}
@media only screen and (max-width: 810px) {
  .signin-page-image-text {
    font-size: 11px;
    width: 100%;
    padding-left: 0;
  }
  .login-header {
    font-size: 151.9%;
  }
  .login-text {
    font-family: inherit;
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .four-image-header {
    font-size: 99.9%;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
  }
}
.questions, .activity {
  background-color: rgba(255,255,255,1);
  // box-shadow: 0 0 3px #ddd;
  padding-bottom: 15px;
  // margin-bottom: 60px;
  // border-radius: 10px;
}
.questions {
  padding: 8px;
  h1 {
    font-family: 'Cinzel', serif;
    padding-top: 14px;
    text-shadow: 1px 1px 1px grey;
  }
  .questions.questions-feed {
    margin-bottom: -10px;
  }
}
.questions-feed {
  box-shadow: 6px 0px 5px -5px #ddd, -6px 0px 5px -5px #ddd;
  border-radius: 0 0 10px 10px;
}
.questions-title {
  border-radius: 10px 10px 0 10px;
  box-shadow: 0 0 3px #ddd;
}
@media only screen and (max-width: 1026px) {
  .questions {
    border-radius: 10px;
  }
  .questions-feed {
    padding-top: 22px;
  }
}
.activity {
  color: #000;
  background-color: #F9F9F9;
  h1 {
    font-family: 'Cinzel', serif;
    padding-top: 14px;
    margin-bottom: -12px;
    text-shadow: 1px 1px 1px grey;
  }
}
.activity-content {
  box-shadow: 0 0 3px #ddd;
  padding: 9px;
  margin: 9px;
}
.activity-time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
}
.profile-question {
  width: 100%;
  height: 100%;
}
.tabs dd > * {
  cursor: pointer;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-right: 3px;
  height: 48px;
  box-shadow: 1px -1px 5px -1px grey;
  margin-top: 3px;
}
.tabs *:focus {
  outline: none;
}
.large-2 {
  width: 100%;
}
.profile-panel {
  border-radius: 9px;
  background-color: #F9F9F9;
}
section > .title {
  color: #000!important;
  display: inline-block;
}
#profile-title > * {
  color: #000!important;
  font-family: 'Cinzel', serif;
  text-shadow: 1px 1px 1px grey;
}
.tab-bar-section > h1 {
  color: #fff!important;
}
.post-upload-icon.fi-upload:before {
  /*color: red;*/
}
.fileUpload.button {
  padding: 14px!important;
  background-color: #2daebf!important;
}
.wall-post-form {
  padding: 8px;
  margin-top: 16px!important;
  margin-bottom:  6px!important;
  background-color: #F9F9F9;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
}
.fileUpload {
  position:                relative;
  overflow:                  hidden;
}
.fileUpload input.upload {
  position:                absolute;
  top:                            0;
  right:                          0;
  min-width:                   100%;
  min-height:                  100%;
  font-size:                  100px;
  text-align:                 right;
  filter:          alpha(opacity=0);
  opacity:                        0;
  background:          rgb(255,0,0);
  cursor:                   inherit;
  display:                    block;
}
#img_prev {
  min-width:                  110px;
  max-width:                  110px;
  max-height:                 110px;
  min-height:                 110px;
  position:                relative;
  display:                   inline;
  background: url('https://www.logolounge.com/images/nav/nav-preview.png') no-repeat;
  background-size:      110px 110px;
  background-position:      0 -20px;
  border-radius:               15px;
  margin:                       3px;
  box-shadow: 0 5px 3px #ddd;
}
.friends-list {
  margin: 0!important;
}
.friends-list .column, .friends-list .columns {
  padding: 2px!important;
}
ul.off-canvas-list li a {
  height: 35px;
}
ul.off-canvas-list li {
  line-height: 16px;
}
.tab-bar {
  background: #373434;
}
.left-off-canvas-menu, .right-off-canvas-menu {
  background: #373434;
}
@media only screen and (max-width: 680px) {
  #messages-unread {
    display: none;
  }
  .tabs-style-tzoid nav ul li a,
  .tabs-style-tzoid nav ul li a:hover {
    padding-left: 6px;
    text-align: left;
  }
}
@media only screen and (max-width: 525px) {
  #img_prev {
    display: none;
  }
  .wall-post-form textarea {
    width: 288px;
  }
}
// Status icon bar
#view-eye:hover .fi-heart {
  color: red;
}
#view-comments:hover .fi-comments,
#view-eye:hover .fi-eye {
  color: #0003FF;
}
.red {
  color: red!important;
}

// ======================
  // box-shadow: -1px 2px 35px rgb(27,26,26);
  // border: none;
  // padding-bottom: 0;
  // border-radius: 16px;
.status-div {
  width: 100%;
  height: 100%;
  min-height: 180px;
  background-color: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 3px;
  position: relative;
  margin-top: 20px;
}
.status-div-content{
  position: relative;
  background-color: #f6f7f8;
  border-bottom: 1px solid #e1e2e3;
  height: 70px;
  padding: 6px;
  img {
    width: 58px;
    margin-right: 10px;
  }
}
.user-status-post-content {
  margin-bottom: 53px;
  padding: 26px;
  min-height:80px;
  text-align: left;
  font-size: 16px;
  line-height: 1.38;
  font-family: Helvetica, Arial, 
  'lucida grande',tahoma,verdana,
  arial,sans-serif;
}
.status-icon-bar {
  color: #000;
  position: absolute;
  bottom: -1px;
  background-color: #f6f7f8;
  width: inherit;
  height: 59px;
  overflow: hidden;
  border-top: 1px solid #e1e2e3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  .icon-bar {
    margin-left: 11%;
    display: inline-block;
    background-color: #f6f7f8;
    span:first-child, span:nth-child(even) {
      width: 25%;
      // border-right: 1px solid #e1e2e3;
    }
    i {
      color: rgb(148, 148, 148)
    }
    span {
      background-color: #f6f7f8;
    }
    span:hover {
      background-color: #EDEDED;
    }
    label {
      color: #000;
      font-weight: 400;
    }
  }
}
.status-div-comment-form {
  position: relative;
  bottom: 0;
  background-color: #f6f7f8;
  margin: -4px auto;
  padding-bottom: 8px;
  border: 1px solid #e1e2e3;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  .button {
    position: relative;
    bottom: -7px;
    right: -4px;
    margin: 6px;
    color: #000;
    background-color: #e1e2e3;
  }
  .button:hover {
    color: #fff;
    background-color: #333333;
  }
}
.status-div-comment-form textarea {
  margin-bottom: 3px;
  border: 1px solid #e1e2e3;
  border-top: none;
  margin: 0 auto;
  width: 100%;
  position: relative;
  bottom: -13px;
  left: -8px;
}
.status-div textarea {
  height: 50px!important;
}
.status-icons {
  position: absolute;
  background-color:red;
}
.status-user-name {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  font-family: sans-serif;
  position: absolute;
  top: 5px;
  text-shadow: 0 1px 1px grey;
}
.status-time-ago {
  position: absolute;
  color: rgb(128,128,128);
  top: 28px;
}
.status-posted-time {
  position: absolute;
  bottom: 0;
  left: 73px;
}
#status-images {
  width: 300px;
  height: 300px;
}





















