#friend-list-filter {
  max-width: 650px;
  padding-top: 2.25rem;
  padding-left: 28px;
  background-color: rgba(226, 226, 226, 0.6);
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}
@media only screen and (max-width: 700px) {
  .sub-nav dd a{
    padding: 2px!important;
    margin: -7px!important;
  }
  .activity h1 {
    font-size: 165%;
  }
}