<div class="row">
  <div class="small-11 small-centered columns activity">
    <center>
    <h1>Activity Feed</h1>
    <sub>(Under construction)</sub>
    <hr>
    </center>
    <br>
    <% @activities.each do |activity| %>
      <div class="small-11 small-centered columns activity-content">
        <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity } %>
      </div>
    <% end %>
  </div>
</div>

