<div class="row">
  <div class="large-2 columns activity">
  <% Post.all.where(friend_id: @user.id).reverse.each do |p| %>
  <div class="small-11 small-centered columns activity-content">
    <%= p.inspect %>
    </div>
  <% end %>
  </div>
</div>